###########################################
#              DEPENDENCIES               #
###########################################

calendar/venv
calendar/__pycache__
bot/__pycache__
bot/venv
bot/.env
.vscode


###########################################
#                  DATA                   #
###########################################

token.pickle